@inherits Component<EditTaskDialogViewModel>;

<MudDialog Class="dialog-new" @onkeydown="HandleKeyDown">
    <DialogContent>
        <EditForm Model="Model" OnValidSubmit="Submit" id="form">
            <MudTextField @bind-Value="Model.Name" Label="Name" Variant="Variant.Text" Required="true" AutoFocus="true" UserAttributes="@(new Dictionary<string, object>() {{ "autocomplete", "no" }})" />
            <div class="flex justify-between" style="margin-top: 0px;">
                <MudNumericField @bind-Value="Model.Hours" Label="Hours" HideSpinButtons="true" Required="true" Min="0" Max="23" Style="width:80px" />
                <MudNumericField @bind-Value="Model.Minutes" Label="Minutes" HideSpinButtons="true" Required="true" Min="0" Max="60" Style="width:80px" />
                <MudNumericField @bind-Value="Model.Seconds" Label="Seconds" HideSpinButtons="true" Required="true" Min="0" Max="60" Style="width:80px" />
            </div>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" FullWidth="true" ButtonType="ButtonType.Submit" form="form">Edit</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter]
    public int Id { get; set; } = 0;

    protected override Task OnInitializedAsync()
    {
        return Model.OpenAsync(Id);
    }

    public async Task Submit()
    {
        if (await Model.EditAsync())
            MudDialog.Close(DialogResult.Ok(true));
    }

    public void Cancel() => MudDialog.Cancel();

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Code == "Escape")
            Cancel();
    }
}
